{% extends "base.html" %}

{% load widget_tweaks %}
{% load allauth account %}

{% block page %}Регистрация{% endblock page %}

{% block base_content %}

<main class="max-w-7xl mx-auto mt-5 lg:mt-10">
    <div class="flex flex-col items-center lg:flex-row lg:items-start space-y-6">

        <div class="basis-3/5 lg:mt-10">
            <h1 class="text-4xl font-bold tracking-tight leading-none lg:text-5xl xl:text-6xl">
                <span class="md:block">Вдъхнови. Информирай.</span>
                <span class="md:block text-blue-600">Остави следа.</span>
            </h1>
            <p class="mt-6 text-xl text-gray-600">
                Пиши свободно и създавай съдържание, което докосва. Твоята новина има значение.
            </p>
        </div>

        <!-- Register Form -->
        <div class="basis-2/5">
            <div class="bg-gray-800 text-white rounded-lg">
                <div class="p-6 lg:p-16">
                    <p class="text-xl font-semibold">Създай своя акаунт</p>
                    <div class="mt-6">
                        <form method="POST" class="space-y-6 mb-4">
                            {% csrf_token %}

                            <div>
                                <label class="sr-only" for="{{ form.email.id_for_label }}">Имейл</label>

                                {% if form.email.errors %}
                                    <div class="error [&>ul]:space-y-2">
                                        {{ form.email.errors }}
                                    </div>
                                {% endif %}

                                <div class="form-field">
                                    {% render_field form.email class="block text-black shadow-sm focus:ring-blue-500 focus:border-blue-500 border-gray-300" %}
                                </div>
                            </div>

                            <div class="space-y-2">
                                <label class="sr-only" for="{{ form.password1.id_for_label }}">Парола</label>

                                {% if form.password1.errors %}
                                    <div class="error [&>ul]:space-y-2">
                                        {{ form.password1.errors }}
                                    </div>
                                {% endif %}

                                <div class="form-field">
                                    {% render_field form.password1 class="block text-black shadow-sm focus:ring-blue-500 focus:border-blue-500 border-gray-300" %}
                                </div>

                                <details class="text-sm rounded-md border border-gray-700">

                                    <summary class="px-2 py-1 flex justify-between items-center list-none cursor-pointer bg-gray-700">
                                        <div>Изисквания към паролата</div>
                                        <span>{% include "svgs/chevron.svg" with class="w-5 h-5" %}</span>
                                    </summary>

                                    <div class="px-2 py-1 mt-2 min-w-full [&>ul]:space-y-1 w-0">{{ form.password1.help_text | safe }}</div>

                                </details>
                            </div>

                            <div>
                                <p class="text-sm text-center">
                                    Вече имаш акаунт? <a href="{% url 'account_login' %}" class="font-bold hover:underline">Влез тук</a>
                                </p>
                                <button type="submit" class="button primary w-full mt-2 text-sm">
                                    Създай своя акаунт
                                </button>
                            </div>
                        </form>

                        <div class="space-y-4">
                            {% if SOCIALACCOUNT_ENABLED %}
                                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="px-4 py-6 bg-gray-700 sm:px-10 rounded-b-lg">
                    <p class="text-xs leading-5">
                        С регистрацията си приемате нашите <a href="#" class="hover:underline">Условия за ползване</a>, <a href="#" class="hover:underline">Политика за поверителност</a> и <a href="#" class="hover:underline">Политика за бисквитките</a>.
                    </p>
                </div>
            </div>
        </div>
        <!-- Register Form -->
    </div>
</main>

{% endblock base_content %}
